@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Roboto:wght@400&display=swap');

*{
	margin: 0;
}
:root {
 	--clr-primary: #f1f1f1;
 	--clr-secondary:  ;
 	--clr-room: #1b1b1b;
 	--clr-bg: #080808;
 	--clr-hover: #151515;
 	--clr-icon : #ea0d63;
 	--clr-room-font: #ffff;
 	--ff-main: 'Roboto', sans-serif;
}
h1, h2, h3 body{
	margin: 0;

}

body {
	font-weight: 200;
	font-size: 1.3125rem;
	line-height: 1.4;
	font-family: var(--ff-main);
	background-color: var(--clr-bg);
	color: var(--clr-room-font);
}


.bg-light{
	background-color: var(--clr-room);
	}

.ff-light{
	color:var(--clr-room-font) ;
}

.search-box,.room{
padding: 1rem 1rem;
margin-bottom: 0.3rem;	
}

.content-center{
	margin-inline: auto;
	width: min(96%, 70.5rem);
}
.content-text{
	padding: 1rem 0;
}

.classlogo{
	writing-mode: vertical-rl;
	margin-inline: auto;
	/*color: var(--clr-icon);*/
}

.room-text {
	padding: 0 1rem;
}
.room-des{
	font-size: 0.8rem;
	color: var(--clr-primary);
}

.room{
	display: flex;
	flex-direction: row;
	border-radius: 0.4rem;
	box-sizing: border-box;
}

a {
	text-decoration: none;
} 
.room:hover {
	background-color: var(--clr-icon);
}
.search{
	width: 100%;
	border-radius: 0.4rem;
	box-sizing: border-box;
	padding: 1rem;
	margin-bottom: 1rem;
	background-color: var(--clr-hover);
	color: var(--clr-primary);
	border-color: transparent;
}


/*=================main page css =================*/

.wrapper{
	display: flex;
	justify-content: center;
	align-content: center;
}
.main-content{
	text-align: center;
	margin-inline: auto;
	width: min(96%, 70.5rem);
	height: 100%;
	margin-top: 8rem;

}

.welcome-text{
margin-bottom: 2rem;
}

.main-content-text{
	padding: 0.2rem;
	margin-bottom: 2rem;
	font-size: 2.5rem;
	height: 20rem;
	width: 100%;

}

.main-btn{
	padding: 1rem 2rem;
	font-size: 1rem;
	background-color: var(--clr-icon);
	border: none;
	color: white;

}